
body {
    background-color: #ffffff;
    text-align: center;
}

h1 {
    padding: 0;
}
/* GRID STYLE */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
#container {    
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 800px;
    height: 380px;
    border: 3px solid #000000;
    margin: 0 auto;
    padding: 0;
}
.colorchange {
    background-color: #000000;
    opacity: .1;
}

/*  BUTTON AREA  */
#btns {
    padding-bottom: 1rem;
}

/*  BUTTONS  */
.reset-btn {
    color: #000000;
    border: 0.1rem solid #ff1e56;
    padding: 0.8rem;
    margin-right: 20px;
    background: transparent;
    border-radius: 1rem;
}

.reset-btn:hover {
    background-color: #ff1e56;
    color: white;
    border: 0.1rem solid #ff1e56;
}

/*.clear-btn {
    color: #000000;
    border: 0.1rem solid #ff1e56;
    padding: 0.8rem;
    margin-left: 20px;
    background: transparent;
    border-radius: 1rem;
}

.clear-btn:hover {
    background-color: #ff1e56;
    color: white;
    border: 0.1rem solid #ff1e56;
}*/